<div class="card bg-black border-secondary mb-4">
    <div class="card-header bg-dark border-secondary">
        <h6 class="mb-0 text-light"><i class="bi bi-compass text-warning me-2"></i> Навігація</h6>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush">
            <a href="{% url 'core:home' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-house-door me-3 text-secondary fs-5"></i> Головна
            </a>
            <a href="{% url 'core:post_list' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-card-text me-3 text-secondary fs-5"></i> Всі пости
            </a>
            <a href="{% url 'core:category_list' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-reddit me-3 text-secondary fs-5"></i> Спільноти
            </a>
            <a href="{% url 'core:tag_list' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-tags me-3 text-secondary fs-5"></i> Теги
            </a>
        </div>
    </div>
</div>

{% if user.is_moderator or user.is_admin %}
<div class="card bg-black border-secondary mb-4">
    <div class="card-header bg-dark border-secondary">
        <h6 class="mb-0 text-light"><i class="bi bi-shield-lock text-warning me-2"></i> Адмін. панель</h6>
    </div>
    <div class="card-body p-0">
        <div class="list-group list-group-flush">
            <a href="{% url 'users:user_list' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-people me-3 text-secondary fs-5"></i> Всі користувачі
            </a>
            <a href="{% url 'users:user_search' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-search me-3 text-secondary fs-5"></i> Пошук
            </a>
            {% if user.is_admin %}
            <a href="{% url 'users:user_statistics' %}" class="list-group-item list-group-item-action bg-black text-light border-secondary d-flex align-items-center nav-item-custom py-3">
                <i class="bi bi-graph-up me-3 text-secondary fs-5"></i> Статистика
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}